[Desktop Entry]
Name=xsnow
Exec=xsnow
Icon=xsnow
Type=Application
Categories=Game;
Terminal=false
Name[en_US]=xsnow
Keywords=christmas;santa;snow
Version=1.0
Actions=new-window

[Desktop Action new-window]
Name=Open a New Window
Exec=xsnow
